{% include("header.twig") with{'siteTitulo': siteTitulo } %}
	<div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Estoque Baixo</h4>
                                <p class="category">3 peças em maior falta</p>
                            </div>
                            <div class="content">
                                <div id="chartPreferences" class="ct-chart ct-perfect-fourth"></div>

                                <div class="footer">
                                    <div class="legend">
                                        <i class="fa fa-circle text-info"></i> Bearing Element 2X2, Double
                                        <i class="fa fa-circle text-danger"></i> Plate 2X3
                                        <i class="fa fa-circle text-warning"></i> Angle Plate 1X2/1X4
                                    </div>
                                    <hr>
                                    <div class="stats">
                                        <i class="fa fa-clock-o"></i> Estoque reposto á 2 dias.
                                    </div>
                                </div>
                            </div>
                        </div>
                	</div>
					
					<div class="col-md-8">
                        <div class="card ">
                            <div class="header">
                                <h4 class="title">2016 Vendas</h4>
                                <p class="category">Todos os produtos vendidos.</p>
                            </div>
                            <div class="content">
                                <div id="chartActivity" class="ct-chart"></div>

                                <div class="footer">
                                    <div class="legend">
                                        <i class="fa fa-circle text-info"></i> Expresso Lira
                                        <i class="fa fa-circle text-danger"></i> Boing 747
                                    </div>
                                    <hr>
                                    <div class="stats">
                                        <i class="fa fa-check"></i> Informação verificada
                                    </div>
                                </div>
                            </div>
                        </div>
                  	</div>

                </div>

                <div class="row">
	                 <div class="col-md-6">
	                        <div class="card ">
	                            <div class="header">
	                                <h4 class="title">Tarefas</h4>
	                                <p class="category">Tarefas a serem feitas</p>
	                            </div>
	                            <div class="content">
	                                <div class="table-full-width">
	                                    <table class="table">
	                                        <tbody>
	                                            <tr>
	                                                <td>
	                                                    <label class="checkbox">
	                                                        <input type="checkbox" value="" data-toggle="checkbox">
	                                                    </label>
	                                                </td>
	                                                <td>Sign contract for "What are conference organizers afraid of?"</td>
	                                                <td class="td-actions text-right">
	                                                    <button type="button" rel="tooltip" title="Edit Task" class="btn btn-info btn-simple btn-xs">
	                                                        <i class="fa fa-edit"></i>
	                                                    </button>
	                                                    <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
	                                                        <i class="fa fa-times"></i>
	                                                    </button>
	                                                </td>
	                                            </tr>
	                                            <tr>
	                                                <td>
	                                                    <label class="checkbox">
	                                                        <input type="checkbox" value="" data-toggle="checkbox" checked="">
	                                                    </label>
	                                                </td>
	                                                <td>Lines From Great Russian Literature? Or E-mails From My Boss?</td>
	                                                <td class="td-actions text-right">
	                                                    <button type="button" rel="tooltip" title="Edit Task" class="btn btn-info btn-simple btn-xs">
	                                                        <i class="fa fa-edit"></i>
	                                                    </button>
	                                                    <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
	                                                        <i class="fa fa-times"></i>
	                                                    </button>
	                                                </td>
	                                            </tr>
	                                            <tr>
	                                                <td>
	                                                    <label class="checkbox">
	                                                        <input type="checkbox" value="" data-toggle="checkbox" checked="">
	                                                    </label>
	                                                </td>
	                                                <td>Flooded: One year later, assessing what was lost and what was found when a ravaging rain swept through metro Detroit
	</td>
	                                                <td class="td-actions text-right">
	                                                    <button type="button" rel="tooltip" title="Edit Task" class="btn btn-info btn-simple btn-xs">
	                                                        <i class="fa fa-edit"></i>
	                                                    </button>
	                                                    <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
	                                                        <i class="fa fa-times"></i>
	                                                    </button>
	                                                </td>
	                                            </tr>
	                                            <tr>
	                                                <td>
	                                                    <label class="checkbox">
	                                                        <input type="checkbox" value="" data-toggle="checkbox">
	                                                    </label>
	                                                </td>
	                                                <td>Create 4 Invisible User Experiences you Never Knew About</td>
	                                                <td class="td-actions text-right">
	                                                    <button type="button" rel="tooltip" title="Edit Task" class="btn btn-info btn-simple btn-xs">
	                                                        <i class="fa fa-edit"></i>
	                                                    </button>
	                                                    <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
	                                                        <i class="fa fa-times"></i>
	                                                    </button>
	                                                </td>
	                                            </tr>
	                                            <tr>
	                                                <td>
	                                                    <label class="checkbox">
	                                                        <input type="checkbox" value="" data-toggle="checkbox">
	                                                    </label>
	                                                </td>
	                                                <td>Read "Following makes Medium better"</td>
	                                                <td class="td-actions text-right">
	                                                    <button type="button" rel="tooltip" title="Edit Task" class="btn btn-info btn-simple btn-xs">
	                                                        <i class="fa fa-edit"></i>
	                                                    </button>
	                                                    <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
	                                                        <i class="fa fa-times"></i>
	                                                    </button>
	                                                </td>
	                                            </tr>
	                                            <tr>
	                                                <td>
	                                                    <label class="checkbox">
	                                                        <input type="checkbox" value="" data-toggle="checkbox">
	                                                    </label>
	                                                </td>
	                                                <td>Unfollow 5 enemies from twitter</td>
	                                                <td class="td-actions text-right">
	                                                    <button type="button" rel="tooltip" title="Edit Task" class="btn btn-info btn-simple btn-xs">
	                                                        <i class="fa fa-edit"></i>
	                                                    </button>
	                                                    <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
	                                                        <i class="fa fa-times"></i>
	                                                    </button>
	                                                </td>
	                                            </tr>
	                                        </tbody>
	                                    </table>
	                                </div>

	                                <div class="footer">
	                                    <hr>
	                                    <div class="stats">
	                                        <i class="fa fa-history"></i> Updated 3 minutes ago
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                 </div>
             </div>
         </div>
{% include("footer.twig") %}