{% include("header.twig") with{'siteTitulo': siteTitulo, 'active' : 'user' } %}
<div class="content">
  <div class="container-fluid">
     	<div class="row">
             <div class="col-md-12">
                 <div class="card">
                     <div class="header">
                         <h4 class="title">
                         	Usuários
                         	<a href="/usuarios/adicionar" class="btn btn-default pull-right">+ Add</a>
                        	</h4>
                         <p class="category">6 usuários cadastrados
                     </div>
                     <div class="content table-resptable-full-width">
                         <table class="table table-hover table-striped">
                             <thead>
                                 <th>ID</th>
                             	<th>Nome</th>
                             	<th>Email</th>
                             	<th>Cidade</th>
                             	<th>Função</th>
                                <th></th>
                             </thead>
                             <tbody>
                                 <tr>
                                 	<td>1</td>
                                 	<td>Dakota Rice</td>
                                 	<td>carolyn.wilson@example.com</td>
                                 	<td>Avaré</td>
                                 	<td>Administrador</td>
                                    <td class="td-actions text-right">
                                         <a href="/usuarios/editar/1" class="btn btn-info btn-simple btn-xs">
                                             <i class="fa fa-edit"></i>
                                         </a>
                                         <a href="/usuarios/remover/1" class="btn btn-danger btn-simple btn-xs">
                                             <i class="fa fa-times"></i>
                                         </a>
                                     </td>
                                 </tr>
                                 <tr>
                                 	<td>2</td>
                                 	<td>Minerva Hooper</td>
                                 	<td>viivi.pollari@example.com</td>
                                 	<td>Botucatu</td>
                                 	<td>Administrador</td>
                                     <td class="td-actions text-right">
                                         <a href="/usuarios/editar/1" class="btn btn-info btn-simple btn-xs">
                                             <i class="fa fa-edit"></i>
                                         </a>
                                         <a href="/usuarios/remover/1" class="btn btn-danger btn-simple btn-xs">
                                             <i class="fa fa-times"></i>
                                         </a>
                                     </td>
                                 </tr>
                                 <tr>
                                 	<td>3</td>
                                 	<td>Sage Rodriguez</td>
                                 	<td>lea.rasmussen@example.com</td>
                                 	<td>Botucatu</td>
                                 	<td>Funcionário</td>
                                     <td class="td-actions text-right">
                                         <a href="/usuarios/editar/1" class="btn btn-info btn-simple btn-xs">
                                             <i class="fa fa-edit"></i>
                                         </a>
                                         <a href="/usuarios/remover/1" class="btn btn-danger btn-simple btn-xs">
                                             <i class="fa fa-times"></i>
                                         </a>
                                     </td>
                                 </tr>
                                 <tr>
                                 	<td>4</td>
                                 	<td>Philip Chaney</td>
                                 	<td>diane.caldwell@example.com</td>
                                 	<td>São Paulo</td>
                                 	<td>Colaborador</td>
                                    <td class="td-actions text-right">
                                         <a href="/usuarios/editar/1" class="btn btn-info btn-simple btn-xs">
                                             <i class="fa fa-edit"></i>
                                         </a>
                                         <a href="/usuarios/remover/1" class="btn btn-danger btn-simple btn-xs">
                                             <i class="fa fa-times"></i>
                                         </a>
                                     </td>
                                 </tr>
                                 <tr>
                                 	<td>5</td>
                                 	<td>Doris Greene</td>
                                 	<td>aaron.hopkins@example.com</td>
                                 	<td>Avaré</td>
                                 	<td>Administrador</td>
                                    <td class="td-actions text-right">
                                         <a href="/usuarios/editar/1" class="btn btn-info btn-simple btn-xs">
                                             <i class="fa fa-edit"></i>
                                         </a>
                                         <a href="/usuarios/remover/1" class="btn btn-danger btn-simple btn-xs">
                                             <i class="fa fa-times"></i>
                                         </a>
                                     </td>
                                 </tr>
                                 <tr>
                                 	<td>6</td>
                                 	<td>Mason Porter</td>
                                 	<td>lumi.niska@example.com</td>
                                 	<td>Itatinga</td>
                                 	<td>Funcionário</td>
                                    <td class="td-actions text-right">
                                         <a href="/usuarios/editar/1" class="btn btn-info btn-simple btn-xs">
                                             <i class="fa fa-edit"></i>
                                         </a>
                                         <a href="/usuarios/remover/1" class="btn btn-danger btn-simple btn-xs">
                                             <i class="fa fa-times"></i>
                                         </a>
                                     </td>
                                 </tr>
                             </tbody>
                         </table>
                     </div>
                 </div>
             </div>
     </div>
   </div>
</div>
{% include("footer.twig") %}